@font-face {
    font-family: 'iconfont';  /* Project id 3270950 */
    src: url('//at.alicdn.com/t/font_3270950_xic6mx26j8n.woff2?t=1653297107013') format('woff2'),
    url('//at.alicdn.com/t/font_3270950_xic6mx26j8n.woff?t=1653297107013') format('woff'),
    url('//at.alicdn.com/t/font_3270950_xic6mx26j8n.ttf?t=1653297107013') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    /* font-size: 16px; */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}

* button:hover {
    cursor: pointer;
}

/*引入字体*/
@font-face {
    font-family: 'PingFang SC';  /* Project id 3270950 */
    src: url('../js/fonts/PingFang Medium.ttf')
}

body {
    /*cursor: url("../source/images/cursor.png"), auto;*/
    font-family: "Arial", "PingFang SC", sans-serif;
    /*font-weight: 600 !important;*/
    background: #d8e3e7;
    background-size: 100% 100%;
    text-align: center;
    color: #132c33;
    /* position: relative; */
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 12px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /*border-radius: 10px;*/
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.5);
}

* i {
    font-style: normal;
}
::selection{
    background:#869d9d;
    color:#134857;
}
::-moz-selection{
    background:#869d9d;
    color:#134857;
}
p::-webkit-selection {
    background:#869d9d;
    color:#134857;
}