body {
    margin: 0 auto;
    background: #134857;
    font-weight: 600;
/* margin-top: 50px; */}

#whole{
    height: 85vh;
    width: 100%;
}
.header {
    overflow: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    /* font-size: 25px; */
background: #d8e3e7;}

.header #cyber {
    float: left;

    color: #134857;
    height: 50px;
    width: 140px;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
}

.header > span {
    display: block;
    float: left;
    width: 40px;
    height: 50px;
    color: #134857;
    margin-left: calc(50% - 90px);
    font-size: 25px;
    text-align: center;
    /* margin-right: 20px; */
    transition: width 1s;
}


.main {
    position: relative;
    /* overflow: hidden; */
    height: 426px;
    width: 400px;
    /* box-shadow: #753b7f 0 0 30px; */
    border-radius: 10px;
    margin: 100px 0 0 250px;
    text-align: center;
    /* box-shadow: 1px 3px 3px #1348575e; */
z-index: 4;/* display: none; */}

.right form {
    outline: none;
}

.left {
    float: left;
    height: 100%;
    width: 350px;
    /* background-color: white; */
    /* border-radius: 10px 0 0 10px; */
}

.left img {
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.right {
    position: relative;
    /* background: #1348572e; */
    float: left;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 90px;
    border-radius: 10px;
}


.right form h3 {
    margin: auto;
    height: 35px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    color: #134857;
    /* color: #339fd5; */
    font-weight: 600;
    font-size: 18px;
}

.right form input {
    color: #d8e3e7;
    height: 35px;
    margin-top: 10px;
    width: 330px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    border-width: 0;
    font-weight: 600;
    border-bottom: #5cb3cc57 solid 5px;
    transition: background-color 0.2s;
    /* background: #134857; */
    background: #11334475;
    }

.right form input:hover {
    background-color: rgb(43 86 113);
    transition: all 0.2s;
    outline: none;
}

.login1,.register1 {
    position: relative;
    /* bottom: -35px; */
    /* right: -162px; */
    display: block;
    height: 40px;
    width: 70px;
    background-color: #134857;

    /* font-family: 'ruixian'; */
    border-width: 0;
    /* box-shadow: #813a79 0 0 20px; */
    /*margin-right: -60px;*/
    color: #d8e3e7;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}

.right .login1 {
    /* margin: 220px auto; */
}

.right .login1:hover {
    background-color: #132c33;
    transition: background-color 0.5s;
}

.login, .register {
    position: absolute;
    height: 50px;
    top: calc(50% - 0px);
    width: 110px;
    font-size: 25px;
    line-height: 50px;
    z-index: 2;
    border-radius: 5px;
    margin:5px 0;
}

.login a, .register a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #134857;

}

.login:hover, .register:hover {
    text-decoration: none;
    color: #134857;
    background-color: #228fad29;
    transition: all 0.5s;
    box-shadow: 1px 3px 3px #13485729;

}

.login {
    right: calc(50% - -420px);
}

.register {
    right: calc(50% - 460px);
}
