<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!--约束文件-->


<mapper namespace="com.chen.LeoBlog.dao.ScriptDao">

    <select id="getScriptById" resultType="com.chen.LeoBlog.po.Script">
        select *
        from leoblog.script
        where scriptId = #{scriptId}
    </select>
    <select id="getScriptByUserId" resultType="com.chen.LeoBlog.po.Script">
        select *
        from leoblog.script
        where userId = #{userId}
        order by changedTime desc
    </select>

    <insert id="insertScript">
        INSERT INTO leoblog.script(scriptId, comment, changedTime, userId, title, picUrl, scriptUrl, original, author)
        VALUES (#{scriptId}, #{comment}, #{changedTime}, #{userId}, #{title}, #{picUrl}, #{scriptUrl}, #{original},
                #{author});
    </insert>
    <delete id="deleteScriptById">
        DELETE
        FROM leoblog.script
        WHERE scriptId = #{scriptId}
        limit 1
    </delete>
    <update id="changeScript">
        UPDATE leoblog.script
        SET changedTime = #{changedTime},
            comment     = #{comment},
            title=#{title},
            picUrl=#{picUrl},
            original=#{original}
        WHERE scriptId = #{scriptId}
        limit 1
    </update>
</mapper>